*{
 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montagu Slab', serif;
}


.nav{
    background-color: blue;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav__ul-ordenador li{
    display: inline-block;
    padding: 10px;
}

.nav__ordenador{
    text-align: center;
}

.nav__movil{
    display: none;
}

/*nav responsive*/
@media screen and (max-width: 800px){
    .nav__ordenador{
        display: none;
    }

    .nav__movil{
        display: block;
    }
    
}

/*main*/

.section-1{
    height: 70vh;
    width: 100vw;
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    

}
